{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/grid.js' %}"></script>
        {% block currentstyle %}{% endblock %}
        {% block currentscript %}{% endblock %}
    </head>
    <body>
        <div class="wb-main">
            <!-- TOP BAR -->
            <div class="wb-base-top-bar">
                <div style="display:flex;">
                    <div style="flex:1"></div>
                    <div class="wb-base-title">DJANGO WORKBENCH</div>
                    <div style="flex:1"></div>
                </div>
            </div>
            <!-- BODY -->
            <div class="wb-base-body">
                <!-- MENU -->
                <div class="web-base-menu-bar">
                    <div style="margin-left:8px;">
                        <a href="/workbench/"><span>HOME</span></a> |
                        <a href="/workbench/ingredients"><span>INGREDIENTS</span></a> |
                        <a href="/workbench/recipes"><span>RECIPES</span></a> |
                        <a href="/workbench/craft"><span>CRAFT</span></a>                              
                    </div>
                </div>
                <!-- CONTENT -->
                <div class="wb-base-body-content">
                    {% block content %}{% endblock %}
                </div>                    
            </div>
            <!-- BOTTOM / FOOTER -->
            <div class="wb-base-bottom-bar">
                COPYRIGHT © 2019 DJANGO WORKBENCH
            </div>
        </div>
    </body>
</html>