{% extends "../base.html" %}

{% block title %}Django Workbench Home{% endblock %}

{% block content %}
    <div style="margin-left:4em;margin-top:4em">
        <h3>Welcome to Django Workbench</h4>
        <p>
            Django Workbench is a powerful tool that allows the user to craft complex kind
            of objects from more basic ingredients.
        </p>        
        <p>
            Choose an option from the top menu and start crafting your favorite objects!
        </p>
    </div>
{% endblock %}