{% extends "../base.html" %}
{% load static %}
{% block title %}Django Workbench Home{% endblock %}

{% block currentstyle %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div style="display:flex;">
        <div>
            <div class="wb-home-section">
                <h3>Welcome to Django Workbench</h4>
                <p>
                    Django Workbench is a powerful tool that allows the user to craft complex kind
                    of objects from more basic ingredients.
                </p>        
                <p>
                    Choose an option from the top menu and start crafting your favorite objects!
                </p>
            </div>                    
        </div>
        <div>
            <div class="wb-home-section">
                <h3>Inventory</h4>                
                <table class = "wb-home-table">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>            
                    {% for object in list %}
                    <tr>
                        <td><span>{{ object.name }}</span></td>
                        <td><span>{{ object.amount }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

