
.wb-craft-main { 
    width:100%;
    height: 100%;
    display: flex;
}

.wb-craft-left-bar {
    flex: 0.75;
    border-right: 1px solid black;
}

.wb-craft-right-bar {
    flex: 0.25;
}

.wb-craft-section-title {
    display:flex;
    width:100%;
    line-height:80px;
    font-size:1.2em;
}

.wb-craft-inner-section {
    width: 100%;
    display: flex;
}