
.wb-ing-main { 
    width:100%;
    height: 100%;
    display: flex;
}

.wb-ing-left-bar {
    flex: 0.25;
    border-right: 1px solid black;
}

.wb-ing-right-bar {
    flex: 0.75;
}

.wb-ing-section-title {
    display:flex;
    width:100%;
    line-height:80px;
    font-size:1.2em;
    font-weight:bold;
}

.wb-ing-inner-section {
    width: 100%;
    display: flex;
}


/* CREATE INGREDIENT */
.wb-ing-create-body {
    min-width: 300px;
}

.wb-ing-create-form{
    max-width: 300px;
    margin-bottom: 16px;
}

.wb-ing-success-msg {
    color: green;
}

.wb-ing-failure-msg {
    color: red;
}


/* LIST */
table, th, td {
    border: 1px solid black;
    flex:1;
}

.wb-ing-table {
    max-height: 500px;
    overflow:auto;
    display: flex;
}