
.wb-reci-main { 
    width:100%;
    height: 100%;
    display: flex;
}

.wb-reci-left-bar {
    flex: 0.25;
    border-right: 1px solid black;
}

.wb-reci-right-bar {
    flex: 0.75;
}

.wb-reci-section-title {
    display:flex;
    width:100%;
    line-height:80px;
    font-size:1.2em;
    font-weight:bold;
}

.wb-reci-inner-section {
    width: 100%;
    display: flex;
}


/* CREATE INGREDIENT */
.wb-reci-create-body {
    min-width: 300px;
}

.wb-reci-create-form{
    max-width: 300px;
    margin-bottom: 16px;
}

.wb-reci-success-msg {
    color: green;
}

.wb-reci-failure-msg {
    color: red;
}

.wb-reci-create-topbar {
    width: 100%;
    margin-bottom: 0.5em;
}

.wb-reci-create-topbar-buttons {
    width: 100%;
    margin-top: 4px;
    display:flex;
}

.wb-reci-create-topbar-incremt {
    margin-top:3px;
    margin-right: 2px;
    max-width:60px;
    display: block;
}


/* LIST */
table, th, td {
    border: 1px solid black;
    flex:1;
}

.wb-reci-table {
    max-height: 500px;
    overflow:auto;
    display: flex;
}

.wb-reci-list {
    display: block;
    max-width: 50%;
    max-height: 60%;
    min-width: 300px;
    min-height: 300px;
    overflow-y: auto;
}

.wb-reci-list-item {
    display: inline-block;
    margin: 8px;
}
